$bg-white: #fff;
$font-color: #333;

html {
  background-color: $bg-white;
  color: $font-color;
  div {
    padding: 101px;
  }
}

@for $i from 1 to 10 {
  .items-#{$i} {
    width: 100px + $i;
    .item {
      height: 100px + $i;
    }
  }
}